APP_NAME=EASY-STACK-MINI-GRAFANA
# app keys and name
SERVER_IP=localhost
HTTP_LOCALHOST=http://localhost
HTTPS_LOCALHOST=https://localhost
# container users
USER_ID=1000
GROUP_ID=1001
# mysql db
DATABASE_HOST=mysql
DATABASE_PORT=3305
DATABASE_USER=admin
DATABASE_PASSWORD=test123
DATABASE_NAME=database_one
DATABASE_VERSION="8.4.0"
MYSQL_TCP_PORT=3305
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=admin
# grafana
# grafana ports
GRAFANA_EXTERNAL_PORT=9009
GRAFANA_INTERNAL_PORT=3001
# grafana login
GF_SECURITY_ADMIN_USER=admin
GF_SECURITY_ADMIN_PASSWORD=7*LDcU7r.VABsi@
# grafana mysql database
DATABASE_GRAFANA_NAME=database_grafana
GF_DATABASE_TYPE=mysql
GF_DATABASE_HOST=mysql:3305
GF_DATABASE_NAME=database_grafana
GF_DATABASE_USER=admin
GF_DATABASE_PASSWORD=test123
# grafana plugins
GF_INSTALL_PLUGINS=
GF_INSTALL_IMAGE_RENDERER_PLUGIN=true
# grafana log
GF_LOG_LEVEL=debug
# grafana mail
GF_SMTP_ENABLED=false
GF_SMTP_HOST=smtp.example.com:587
GF_SMTP_USER=your_email@example.com
GF_SMTP_PASSWORD=your_smtp_password
GF_SMTP_SKIP_VERIFY=false
GF_SMTP_FROM_ADDRESS=grafana@example.com
GF_SMTP_FROM_NAME=Grafana
# grafana volume
# persitent
#GRAFANA_DATA_PATH=./.docker/dev/grafana/data
# non persistent
GRAFANA_DATA_PATH=grafana-data
# prometheus
# prometheus ports
PROMETHEUS_EXTERNAL_PORT=9091
PROMETHEUS_INTERNAL_PORT=9090
# grafana volume
# persitent
#PROMETHEUS_DATA_PATH=./.docker/dev/prometheus
# non persistent
PROMETHEUS_DATA_PATH=prometheus-data
# node-exporter
NODE_EXPORTER_INTERNAL_PORT=9100
# mysqld-exporter
MYSQLD_EXPORTER_INTERNAL_PORT=9104
# fritzbox
FRITZ_BOX_INTERNAL_PORT=9042
#
FRITZ_BOX_USERNAME=admin
FRITZ_BOX_PASSWORD=test123
FRITZ_BOX_GATEWAY_URL=http://192.168.178.1:49000
FRITZ_BOX_LISTEN_ADDRESS=0.0.0.0
DATA_SOURCE_NAME=admin:test123@tcp(mysql:3305)/database_one
# speedtest
SPEED_TEST_INTERNAL_PORT=9798
SPEEDTEST_PORT=9798
SPEEDTEST_SERVER=1758
# SPEED_TEST_SERVER_IDS=19035
# 3855,1782,2225
# Don't change this unless you have a new Docker Hub provider.
DOCKER_REPO=opillion
DOCKER_REPO_USER=opillion
# read only docker hub token, if you wan't to build your own images, you will need a push token
DOCKER_PASS=dckr_pat_2hu4Dk184aD77Zlv1_qey6rQ6Jo
DOCKER_USER=docker
DOCKER_REPO_NAME=opillion
## Check for the latest tag at: https://hub.docker.com/repositories/opillion
# The base image tag is used here.
BASE_IMAGE_TAG=easyStackBase001
# This is the developer image tag. Please use a new tag when creating images
# to avoid conflicts in other branches.
DEV_IMAGE_TAG=easyStackMiniDev-GRAFANA
# This is the prod image tag
PROD_IMAGE_TAG=easyStackMiniProd-GRAFANA
# Use this for docker-compose.yml
# If you do not need precompiled images use
# DOCKER_IMAGE_SOURCE=dev
DOCKER_IMAGE_SOURCE=dev-compiled
# These are the containers you can build with buildx.
# single: DOCKER_CONTAINER := mysql
DOCKER_CONTAINER=grafana,speedtest-exporter,prometheus,mysqld-exporter,node-exporter,openweather-exporter,fritzbox-exporter
# DOCKER_CONTAINER=alpine
# These are the multi-build systems that will be built.
PLATFORMS=linux/amd64,linux/arm64
# docker network
DOCKER_NETWORK=easy-stack
